@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基础变量 */
:root {
  --background: white;
  --foreground: black;
}

/* 暗色模式变量 */
.dark {
  --background: black;
  --foreground: white;
}

/* 基础样式 */
body {
  background-color: var(--background);
  color: var(--foreground);
}